:root {
  --brand-color: #2196f3;
  --title-color: #212121;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
}
* {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: var(--font-primary);
  background-color: var(--primary-white-color);
  font-size: 14px;
  color: var(--primary-text-color);
  font-weight: 400;
  letter-spacing: 0.03em;
}

.logo {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color);
}

.studio-header {
  color: #000000;
}

.nav-list .contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list {
  color: var(--title-color);
}

.nav-list:hover,
.nav-list:focus {
  color: var(--brand-color);
}
.contact {
  color: var(--primary-text-color);
}
.contact:hover,
.contact:focus {
  color: var(--brand-color);
}
.first-section {
  background-color: #2f303a;
}
.center-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.center-button {
  background-color: var(--brand-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.description-title {
  color: var(--title-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.description {
  line-height: 1.71;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-color);
}
.section-four {
  background-color: #f5f4fa;
}
.team-member {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-dscr {
  font-size: 16px;
  line-height: 1.19;
}
.footer {
  background-color: #2f303a;
}
.studio-footer {
  color: var(--primary-white-color);
}
.contact-footer .address {
  line-height: 1.71;
  font-style: normal;
}
.contact-footer {
  color: var(--primary-text-color);
  font-style: normal;
}
.address {
  color: var(--primary-white-color);
  font-style: normal;
}
.portfolio-button {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--brand-color);
}
.contact-footer-mail {
  text-decoration: underline;
}
.portfolio-img-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-img-dsc {
  font-size: 16px;
  line-height: 1.88;
}
.team-img {
  background-color: var(--primary-white-color);
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.portfolio-img {
  background-color: var(--primary-white-color);
  box-sizing: border-box;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 262px;
  border: 1px solid #eeeeee;
}
