:root {
  --brand-color: #2196f3;
  --title-color: #212121;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
}
* {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: var(--font-primary);
  background-color: var(--primary-white-color);
  font-size: 14px;
  color: var(--primary-text-color);
  font-weight: 400;
  letter-spacing: 0.03em;
}

.logo {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color);
}

.studio-header {
  color: #000000;
}

.nav-link .contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--brand-color);
}
.contact {
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact:hover,
.contact:focus {
  color: var(--brand-color);
}
.first-section {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.center-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
}
.center-button {
  background-color: var(--brand-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-top: 30px;

  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 0;
}
.description-title {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14285714;
  text-transform: uppercase;
}
.description {
  line-height: 1.71;
  margin-top: 10px;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-color);
  text-align: center;
  width: 352px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.section-four {
  background-color: #f5f4fa;
}
.team-member {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding-top: 30px;
  width: 72px;
  margin: 0 auto;
}
.team-dscr {
  font-size: 16px;
  line-height: 1.19;
  justify-content: center;
  padding-top: 10px;
  display: inline-block;
  margin: 0 auto;
}
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.studio-footer {
  color: var(--primary-white-color);
}
.contact-footer .address {
  line-height: 1.71;
  font-style: normal;
}
.contact-footer {
  color: var(--primary-text-color);
  font-style: normal;
}
.address {
  color: var(--primary-white-color);
  font-style: normal;
}
.portfolio-button {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  width: 121px;
  height: 38px;
  border: 0;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--brand-color);
}
.contact-footer-mail {
  text-decoration: underline;
}
.portfolio-img-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-img-dsc {
  font-size: 16px;
  line-height: 1.88;
}
.team-img {
  background-color: var(--primary-white-color);
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.portfolio-img {
  background-color: var(--primary-white-color);
  box-sizing: border-box;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 262px;
  border: 1px solid #eeeeee;
}
.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  padding-left: 93px;
}
.item:not(:last-child) {
  margin-right: 46px;
}
.contact-list {
  display: flex;
  align-items: center;
}
.contact-list .item:not(:last-child) {
  margin-right: 50px;
}
.second-section {
  background-color: var(--primary-white-color);
}
.lorem-list {
  display: flex;
}
.lorem-list .item:not(:last-child) {
  margin-right: 30px;
}
.lorem-item {
  display: inline-block;
  width: 270px;
}
.third-section {
  background-color: var(--primary-white-color);
  padding-top: 0;
}
.img-index-list {
  display: flex;
}
.img-index-list .item:not(:last-child) {
  margin-right: 30px;
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-color);
  text-align: center;
  width: 210px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-list .item:not(:last-child) {
  margin-right: 30px;
}
.footer-address {
  padding-top: 20px;
}
.footer-item {
  padding-top: 9px;
}
.button-list {
  display: flex;
  justify-content: center;
  padding-bottom: 34px;
}
.button-list .item:not(:last-child) {
  margin-right: 8px;
}
.img-porfolio-list{
  display: flex;
flex-wrap: wrap;
margin-left: -30px;
  margin-top: -30px;

}
.img-porfolio-list .item{
  width: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 0;

  
}