:root {
  --brand-color: #2196f3;
  --title-color: #212121;
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
  --icon-primary-color: #afb1b8;}
* {
margin: 0;}

ul {
  list-style: none;
  padding-left: 0;}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: var(--font-primary);
  background-color: var(--primary-white-color);
  font-size: 14px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
.header {
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
/* header */
.logo {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color);
}
.studio-header {
  color: #000;
  margin-top: 24px;
  margin-bottom: 25px;
}
.nav-link .contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link {
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  color: var(--title-color);
}
.nav-underline {
  position: relative;
  display: flex;
}
.nav-underline::after {
  content: '';
  position: absolute;
  width: 53px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
  top: 46px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--brand-color);
}
.header-mail-icon {
  padding-right: 10px;
  fill: var(--primary-text-color);
  margin-top: 2px;
}
.header-tel-icon {
  padding-right: 10px;
  fill: var(--primary-text-color);
  align-items: center;
  display: flex;
}
.contact {
  display: flex;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.contact:hover,
.contact:focus {
  color: var(--brand-color);
}
.contact:focus .header-mail-icon,
.contact:hover .header-mail-icon {
  fill: currentColor;
}
.contact:focus .header-tel-icon,
.contact:hover .header-tel-icon {
  fill: currentColor;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-list {
  display: flex;
  align-items: center;
}
.contact-list .item:not(:last-child) {
  margin-right: 50px;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  padding-left: 93px;
}
.item:not(:last-child) {
  margin-right: 46px;
}
/* end od header */
/* main index */
/* main section 1 index  */
.section {
  padding: 94px 0;
}
.first-section {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/section1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: 1600px;
  background-position: center;
}
.center-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
}
.center-button {
  background-color: var(--brand-color);
  color: var(--primary-white-color);
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-top: 30px;
  border-radius: 4px;
  border: none;
  padding: 10px 41px 10px 42px;
}
/* end of main section 1 index */
/* main section 2 index */
.second-section {
  background-color: var(--primary-white-color);
}
.lorem-icon-list {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.lorem-list {
  display: flex;
}
.lorem-list .item:not(:last-child) {
  margin-right: 30px;
}
.lorem-item {
  display: inline-block;
}
.description-title {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.description {
  line-height: 1.71;
  margin-top: 10px;
}
/* end of main section 2 index */
/* main section 3 index */
.third-section {
  background-color: var(--primary-white-color);
  padding-top: 0;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-color);
  text-align: center;
  padding-bottom: 50px;
}
.img-index-list {
  display: flex;
}
.img-index-list .item:not(:last-child) {
  margin-right: 30px;
}
.img-with-title {
  position: relative;
  display: inline-flex;
}
.img-title {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  bottom: 0;
  padding: 27px;
  text-align: center;
}
/* end of main section 3 index */
/* main section 4 index */
.section-four {
  background-color: #f5f4fa;
}
.team-img {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-color);
  text-align: center;
  padding-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-list .item:not(:last-child) {
  margin-right: 30px;
}
.team-member {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding-top: 30px;
}
.team-dscr {
  font-size: 16px;
  line-height: 1.19;
  padding-top: 10px;
  display: inline-block;
}
.team-insta-icon,
.team-tweet-icon,
.team-fb-icon,
.team-in-icon {
  display: inline-flex;
}
.social-icon-list {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}
.team-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-primary-color);
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 30px;
  transition-property: background-color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  padding: 12px 12px 12px 12px;
  gap: 10px;
}
.social-icon-list .team-icon:not(:last-child) {
  margin-right: 10px;
}
.social-icon-list .team-icon:hover,
.team-icon:focus {
  background-color: var(--brand-color);
  fill: var(--primary-white-color);
}
/* end of main section 4 index */
/* main section 5 index */
.clients-icons-list {
  display: flex;
  margin-top: 50px;
}
.company-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  fill: var(--icon-primary-color);
  border: 1px solid var(--icon-primary-color);
  cursor: pointer;
  transition-property: border-color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.clients-icons-list .company-icon:not(:last-child) {
  margin-right: 30px;
}
.clients-icons-list .company-icon:hover,
.company-icon:focus {
  border-color: var(--brand-color);
  fill: var(--brand-color);
}
/* end of main section 5 index */
/* end of main index */
/* portfolio buttons */
.portfolio-button {
  background-color: #f5f4fa;
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  transition-property: color background-color box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-list {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.button-list .item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-button-list {
  display: flex;
}
/* end of portfolio buttons */
/* portfolio main page */
.portfolio-img {
  background-color: var(--primary-white-color);
  border: 1px solid #eeeeee;
  transition-property: cursor box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.portfolio-img-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-img-dsc {
  font-size: 16px;
  line-height: 1.88;
  padding-bottom: 20px;
}
.img-porfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.img-porfolio-list .item {
  margin-right: 0;
}
.portfolio-img-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding-top: 20px;
  padding-left: 24px;
}
.portfolio-img-dsc {
  font-size: 16px;
  line-height: 1.19;
  padding-top: 4px;
  padding-left: 24px;
  display: inline-block;
}
.portfolio-img:hover,
.portfolio-img:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-description {
  color: var(--primary-white-color);
  position: absolute;
  font-size: 18px;
  line-height: 1.52;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(33, 150, 243, 0.9);
  padding: 49px 45px 49px 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.portfolio-img:hover .card-description {
  transform: translateY(0);
}
/* end portfolio main page */
/* footer */
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.studio-footer {
  color: var(--primary-white-color);
}
.contact-footer .address {
  line-height: 1.71;
  font-style: normal;
}
.contact-footer {
  color: var(--primary-text-color);
  font-style: normal;
}
.address {
  color: var(--primary-white-color);
  font-style: normal;
}
.footer-address {
  margin-top: 20px;
}
.footer-item {
  padding-top: 9px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-info {
  margin-right: 70px;
}
.footer-social-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.social-icon-list-footer {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--primary-white-color);
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  padding: 12px 12px 12px 12px;
  gap: 10px;
}
.social-icon-list-footer .footer-icon:hover,
.footer:focus {
  background-color: var(--brand-color);
}
/* end of footer */
/* BACKDROP */
.backdrop {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}
.modal {
  position:relative;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: auto;
}
.close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  padding: 9px 9px 10px 10px;
}
.close-btn {
  position: absolute;
  width: 13px;
  height: 13px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* END OF BACKDROP */
