.checkbox__container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.checkbox__input-check {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(1px, 1px, 1px, 1px);
}
.checkbox__text span {
  line-height: 1.7;
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 3px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition-property: background-color, fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input-check:checked + .checkbox__text span {
  background-color: var(--brand-color);
  border: none;
  fill: var(--primary-white-color);
}
.checkbox__input-check:focus + .checkbox__text span {
  border-color: var(--brand-color);
}
