.container {
  @media screen and (min-width: 480px) {
    max-width: 767px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
  }
  @media screen and (min-width: 768px) {
    max-width: 1199px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0 auto;
  }
}
.container__footer {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}
.sub-container {
  text-align: center;
  margin-top: 60px;
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    text-align: start;
  }
}
