.footer {
  background-color: #2f303a;
  padding: 60px 0;
  font-family: var(--font-primary);

&__info {
  margin-right: 70px;
}
.footer__address {
  margin-top: 20px;
}
&__address-link {
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.71;
  font-style: normal;
}
&__item {
  margin-top: 3px;
}
&__contact {
  color: var(--primary-text-color);
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  line-height: 1.71;
  font-style: normal;
  &:hover,
  &:focus {
    color: var(--brand-color);
  }
  margin-bottom: 9px;
}
&__social-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
&__social-icon-list {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
&__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--primary-white-color);
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  padding: 12px 12px 12px 12px;
  gap: 10px;
  &:hover,
  &:focus {
    background-color: var(--brand-color);
  }
}
&__newsletter-title {
  margin-left: 78px;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.17;
}
&__email {
  display: inline-flex;
  margin-left: 78px;
  background-color: #2f303a;
  width: 358px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
  padding-left: 16px;
  font-size: 16px;
}
&__send-icon {
  fill: var(--primary-white-color);
  margin-left: 24px;
}
}
.container__footer {
  display: flex;
  align-items: baseline;
}