.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    @media screen and (min-width: 768px) {
      height: 80px;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__nav-list {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 1200px) {
    padding-left: 93px;
  }
}
  &__nav-link {
    display: block;
    color: var(--title-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    color: var(--title-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    &:hover,
    &:focus {
      color: var(--brand-color);
    }
  }
  &__nav-link--underline {
    position: relative;
    display: flex;
  }
  &__nav-link--underline::after {
    content: '';
    position: absolute;
    width: 53px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--brand-color);
    top: 46px;
  }
  &__contact-link {
    display: flex;
    color: var(--primary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    &:hover,
    &:focus {
      color: var(--brand-color);
    }
  }
  &__nav-item:not(:last-child) {
    margin-right: 46px;
  }
  &__contact-list {
    display: flex;
    align-items: center;
  }
  &__contact-list .header__contact-item:not(:last-child) {
    margin-right: 50px;
  }
  &__icon {
    padding-right: 10px;
    fill: var(--primary-text-color);
    align-items: center;
    display: flex;
  }
  &__contact-item:not(:last-child) {
    margin-right: 46px;
  }
  &__contact-link:focus .header__icon,
  &__contact-link:hover .header__icon {
    fill: currentColor;
  }
}
