.section {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
.section__header {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-color);
  text-align: center;
  padding-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    padding-bottom: 50px;
  }
}
