:root{
--brand-color: #2196f3;
--title-color: #212121;
--primary-text-color: #757575;
--primary-white-color: #ffffff;
--font-primary: 'Roboto', sans-serif;
--font-secondary: 'Raleway', sans-serif;
--icon-primary-color: #afb1b8;
}