.footer {
  background-color: #2f303a;
  padding: 60px 0;
  font-family: $font-primary;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__info {
  margin-right: 70px;
}
.footer__studio {
  color: $primary-white-color;
}
.footer__address {
  margin-top: 20px;
}
.footer__address-link {
  color: $primary-white-color;
  font-style: normal;
   line-height: 1.71;
  font-style: normal;
}
.footer__item {
  
}
.footer__contact {
  color: $primary-text-color;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
   line-height: 1.71;
  font-style: normal;
  &:hover,
  &:focus{
    color: $brand-color;
  }
}
.footer__social-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
}
.footer__social-icon-list {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $primary-white-color;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  padding: 12px 12px 12px 12px;
  gap: 10px;
  &:hover,
&:focus {
  background-color: $brand-color;
}
}
.footer__newsletter-title {
  margin-left: 78px;
  margin-bottom: 20px;
  color: $primary-white-color;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.17;
}
.footer__email {
  display: inline-flex;
  margin-left: 78px;
  background-color: #2f303a;
  width: 358px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: $primary-white-color;
  padding-left: 16px;
  font-size: 16px;
}
.footer__send-icon {
  fill: $primary-white-color;
  margin-left: 24px;
}