.header {
  border-bottom: 1px solid #ececec;

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav {
    display: flex;
    align-items: center;
  }
  .header__logo {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $brand-color;
  }
  .header__studio {
    color: #000;
    margin-top: 24px;
    margin-bottom: 25px;
  }
  .header__nav-list {
    display: flex;
    padding-left: 93px;
  }
  .header__nav-link {
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    color: $title-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    &:hover,
    &:focus {
      color: $brand-color;
    }
  }
  .header__nav-link--underline {
    position: relative;
    display: flex;
  }
  .header__nav-link--underline::after {
    content: '';
    position: absolute;
    width: 53px;
    height: 4px;
    border-radius: 2px;
    background-color: $brand-color;
    top: 46px;
  }
  .header__contact-link {
    display: flex;
    color: $primary-text-color;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    &:hover,
    &:focus {
      color: $brand-color;
    }
  }
  .header__nav-item:not(:last-child) {
    margin-right: 46px;
  }
  .header__contact-list {
    display: flex;
    align-items: center;
  }
  .header__contact-list .header__contact-item:not(:last-child) {
    margin-right: 50px;
  }
  .header__mail-icon {
    padding-right: 10px;
    fill: $primary-text-color;
    margin-top: 2px;
    //   &:hover,
    // &focus-within .header__contact-link {
    //   fill: currentColor;
  }
  .header__tel-icon {
    padding-right: 10px;
    fill: $primary-text-color;
    align-items: center;
    display: flex;
  }
  .header__contact-item:not(:last-child) {
    margin-right: 46px;
  }
  .header__contact-link:focus .header__mail-icon,
  .header__contact-link:hover .header__mail-icon {
    fill: currentColor;
  }
  .header__contact-link:focus .header__tel-icon,
  .header__contact-link:hover .header__tel-icon {
    fill: currentColor;
  }
}
