.slogan {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/section1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: 1600px;
  background-position: center;
}
.slogan__center-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
}
