.team {
  background-color: #f5f4fa;
}
.team__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: $title-color;
  text-align: center;
  padding-bottom: 50px;
}
.team__list {
  display: flex;
}
.team__img {
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team__img:not(:last-child) {
  margin-right: 30px;
}
.team__member {
  color: $title-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding-top: 30px;
}
.team__dscr {
  font-size: 16px;
  line-height: 1.19;
  padding-top: 10px;
  display: inline-block;
}
.team__icon-list {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}
.team__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $icon-primary-color;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 30px;
  transition-property: background-color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  padding: 12px 12px 12px 12px;
  gap: 10px;
}
.team__icon:not(:last-child) {
  margin-right: 10px;
}
.team__icon:hover,
.team__icon:focus{
    background-color: $brand-color;
  fill: $primary-white-color;
}